<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">

        <div class="contact-form">
            <h2>Contactez-moi</h2>
            <form action="#" method="post">
                <label for="nom">Nom :</label>
                <input type="text" id="nom" name="nom" required>
                <label for="prenom">Prenom :</label>
                <input type="text" id="prenom" name="prenom" required>
                <label for="message">Message :</label>
                <textarea id="message" name="message" required></textarea>
                <button type="submit">Envoyer</button>
            </form>
        </div>
    </div>
  
</body>
</html>
